<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="EcoreDocGen Target Platform" sequenceNumber="1595486075">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.21.0.v20200302-1509"/>
      <unit id="org.eclipse.xtext.doc" version="2.21.0.v20200302-1241"/>
      <unit id="org.eclipse.xtext.xbase.lib.feature.group" version="2.21.0.v20200302-1136"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.21.0.v20200205-0529"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.21.0.v20200127-1342"/>
      <unit id="org.eclipse.emf.transaction.feature.group" version="1.12.0.201805140824"/>
      <unit id="org.eclipse.emf.ecore.xcore.feature.group" version="1.13.0.v20200127-1346"/>
      <repository id="eclipse-2020-03-mirror" location="https://download.eclipse.org/releases/2020-03/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="hu.qgears.commons" version="8.0.0.20200429105326"/>
      <repository id="qgears-opensource-repo" location="https://buildserver.qgears.net/update-sites/qgears-opensource-repo-public/"/>
    </location>
  </locations>
</target>
